{% extends 'blog/base_blog.html' %}

{% block title %}Tag create{% endblock %}

{% block content %}
    <form action="{% url 'tag_create_url' %}" method="post" class="col-md-6">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-info">Create Tag</button>
    </form>
{% endblock %}
